html {
    font-size: 62, 5%;
}

* {
    margin: 0;
    padding: 0;
}


/*CONTACTO*/

.fondoContacto {
    background-image: url(../multimedia/puertoribeirareti.png);
    background-size: cover;
}




/*INDEX*/

.fondoIndex {
    background-image: url(../multimedia/ptoribeirareticolor.png);
    background-size: cover;
}

.footerAbajo {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.fuentePoema {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.fuentePiepoema {
    font-family: 'Archivo Narrow', sans-serif;
    color: rgb(206, 206, 206);
    font-size: 1rem;
    font-weight: bold;
}

.fuenteMenu {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.1rem;
}

.fuenteSeguinos {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1rem;
}

.fuentePie {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 0.8rem;
}

.fuenteAjuanapie {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
}

.backMain {
    background-color: rgba(64, 140, 177, 0.5);
}

/* BIO */

.fondoBio {
    background-image: url(../multimedia/ptoribeiraaerea.png);
    background-size: auto;
}

.backMainbio {
    background-color: rgba(250, 174, 32, 0.7);
}

.tituloBio {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 3.8rem;
    text-align: center;
    font-weight: bold;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.textoBio {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
}

.subsBio {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    margin-top: 2rem;
    color: rgb(5, 84, 115);
}

.textoArriba {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.1rem;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.foto1 {
    width: 33rem;
}
.foto2 {
    width: 33rem;
}
.foto3 {
    width: 33rem;
}

/* RECETAS */

.listaComidas li a {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.decorationNone {
    list-style-type: none;
}

.tituloRecetas {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 3.8rem;
    text-align: center;
    font-weight: bold;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.tituloComidas {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

.tituloSeccion {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.textoRecetas {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 4rem;
}

.textoIngredientes {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1.5rem;
}

.tituIngrediente {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5rem;
    color: white;

}

.fondoRecetas {
   /* background-color: rgb(64, 140, 177);*/
    background-size:contain;
    background-image: url(../multimedia/puertoribeirareti.png);
}

.mainRecetas {
    background-color: rgb(64, 140, 177, 0.6);
    margin-bottom: 3rem;
}

.irArriba {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.1rem;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    color: rgb(226, 175, 6);
}

/* TIENDA */

.bodyTienda {
    background-image: url(../multimedia/ribeiranaranja.png);
    background-size: cover;
}

.mainTienda {
    background-color: rgba(222, 79, 7, 0.7);
    margin-bottom: 3rem;
}

.tituloTienda {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 3.8rem;
    font-weight: bold;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.introTienda {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 2rem;

}

.articulosTienda li a {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
}

.seccionesTienda {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.seccionesTiendatop {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding-top: 3rem;
}
.borrarPuntito ul li{
    list-style-type: none;
}

.logoAbuela {
    width:33rem;
}

@media screen and (max-width:768px) { 
    .logoAbuela {
        width:27rem;
}
.tituloTienda {
    font-size: 3rem;
}

.introTienda {
    font-size: 1.9rem;
    padding-top: 3rem;
}
.footerAbajo {
    position: initial;
}
.foto1 {
    width: 18rem;
}
.foto2 {
    width: 18rem;
}
.foto3 {
    width: 18rem;
}
}


@media screen and (max-width:576px) { 
    .logoAbuela {
        width:20rem;
}
.fuentePoema {
    font-size: 1.3rem;
}
.tituloTienda {
    font-size: 2.7rem;
    padding-top: 2.5rem;
}

.introTienda {
    font-size: 1.7rem;
}
.footerAbajo {
    position: initial;
}
.foto1 {
    width: 27rem;
}
.foto2 {
    width: 27rem;
}
.foto3 {
    width: 27rem;
}
}


@media screen and (max-width:400px) { 

.logoAbuela {
        width:14rem;
}
.fuentePoema {
    font-size: 1rem;
}

.fuentePiepoema {
    font-size: 0.7rem;
}

.tituloTienda {
    font-size: 2.5rem;
}

.introTienda {
    font-size: 1.5rem;
    padding-top: 2rem;
}
.footerAbajo {
    position: initial;
}
.listaComidas li a {
    font-size: 1.3rem;
}
.tituloRecetas {
    font-size: 2.5rem;
}
.tituloSeccion {
    font-size: 2rem;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}
.foto1 {
    width: 18rem;
}
.foto2 {
    width: 18rem;
}
.foto3 {
    width: 18rem;
}
}
@media screen and (max-width:2500px) { 
    .footerAbajo {
        position: initial;
    }
    }