/* BIO */


.bodyBio {
    background-image: url(../multimedia/ptoribeiraaerea.png);
    background-size: contain;
}

.mainBiofondo {
    background-color: rgba(251, 164, 3, 0.5);
    background-size: cover;
}


.textoBio {
    font-family: Trasandina, sans-serif;
    font-size: 1rem;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
}

.tituloBio {
    font-family: map-get($estiloTitulo1, fuente);
    color: map-get($estiloTitulo1, color);
    font-size: map-get($estiloTitulo1, size);
    padding-top: map-get($estiloTitulo1, p-top);
    padding-bottom: map-get($estiloTitulo1, p-bottom);
    text-align: map-get($estiloTitulo1, align);
}

.textoBiofinal {
    font-family: Trasandina, sans-serif;
    font-size: 1rem;
    text-align: left;
    padding-left: 3rem;
    padding-bottom: 2rem;
    padding-right: 3rem;
}

.subsBio {
    color: rgb(0, 0, 0);
    font-family: Trasandina bold, sans-serif;
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
}

.textoArriba {
    color: white;
    font-family: Trasandina bold;
    text-decoration: none;
    padding-left: 3rem;
}

.alineadora {
    padding-bottom: 2rem;
}

.fotoRibeira {
    @extend .imagenesBio;
}

.fotoGuarani {
    @extend .imagenesBio;
}

.fotoAbuelos {
    @extend .imagenesBio;
}

.section01-flex {
    display: flex;
    flex-flow: row nowrap;
}

.section02-flex {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.section03-flex {
    display: flex;
    flex-flow: row nowrap;
}

.article01-flex {
    h3 {
        p {
            display: flex;
            flex-flow: row nowrap;
        }
    }
}

.imagenesBio{
    width: 25rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
