.bodyGrid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 2fr 0.1fr;
    grid-template-areas:
        "menu menu menu"
        ".logo."
        "poema poema poema"
        "pie pie pie";
}

.menuGrid {
    grid-area: menu;
}

.fondo {
    grid-area: fondo;
}

.logoGrid {
    grid-area: logo;
}

.poemaGrid {
    grid-area: poema;
}

.pieGrid {
    grid-area: pie;
}

.bodyIndex {
    background-image: url(../multimedia/ptoribeirareticolor.png);
    background-size: cover;
}


header {
    background: linear-gradient(to bottom, black, rgb(45, 45, 45));
    background-size: cover;
    height: 5rem;

    a {
        text-decoration: none;
        color: rgb(182, 182, 182);
    }
}

.textoMenu {
    ul {
        li {
            font-size: 1.1rem;
            font-family: Trasandina, sans-serif;
            padding-top: 3rem;
            margin-left: 0.4rem;
            margin-right: 0.4rem;
            display: inline-block;
        }
    }
}

.cambiaAblanco {
    :hover {
        color: rgb(255, 255, 255);
        transition: 0.5s;
    }
}

.paraAlinear {
    text-align: center;
    text-decoration: none;
}

.mainIndex {
    background-color: rgba(64, 140, 177, 0.5);
    background-size: cover;
}

.tituloIndex {
    font-family: Trasandina bold, sans-serif;
    color: rgb(255, 208, 36);
    font-size: 3rem;
    padding-top: 3rem;
    text-align: center;
}

.tituloIndex2 {
    font-family: Trasandina bold, sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.textoPoema {
    font-family: Trasandina bold, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.textoPoema2 {
    font-family: Trasandina bold, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.piePoema {
    font-family: Trasandina, sans-serif;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
}

.menuTop {
    text-decoration: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);

    a {
        text-decoration: none;
        color: rgb(188, 188, 188);
    }
}

.subTicont {
    padding-bottom: 1rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    font-family: Trasandina, sans-serif;
}


.logoYoutube,
.logoInsta {
    i {
        @include estiloLogosredes(1.5rem, 2rem, 2rem, rgb(188, 188, 188))
    }
}

.logoFace {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-left: 0rem;
}

.ordenLogos {
    div {
        display: inline-block;
    }
}

.parrafoDireccion {
    font-family: Trasandina, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 2rem;
    color: rgb(255, 255, 255);
    padding-left: 3rem;
    padding-right: 3rem;
}

.parrafoDireccion2 {
    font-family: Trasandina, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 1rem;
    color: rgb(244, 199, 49);
    padding-left: 3rem;
    padding-right: 3rem;
}

.letraChica {
    color: $colorRedes;
    font-family: Trasandina, sans-serif;
    font-size: .8rem;
    text-align: center;
    padding-bottom: 3rem;
}


.flexChico {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

.flexChico2 {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

.logoAlpie-flex {
    display: flex;
    width: 10rem;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}