$colorRedes: rgb(188, 188, 188);
$fotosRecetas: 13rem;
$colorJuana: rgb(64, 140, 177);


@mixin estiloLogosredes ($fontSize, $paddTop, $paddLeft, $colorRedes){
    font-size: $fontSize;
    padding-top: $paddTop;
    padding-left: $paddLeft;
    color: $colorRedes;
}

@mixin imagenesRecetas ($ancho, $pleft, $ptop) {
    width: $ancho;
    padding-left: $pleft;
    padding-top: $ptop;
}

$estiloTitulo1: (
    fuente: Trasandina bold,
    color: white,
    size: 3rem,
    p-top: 2rem,
    p-bottom: 2rem,
    align: center
);



