@import "variables";
@import "index";
@import "recetas";
@import "bio";
@import "tienda";
@import "contacto";


html {
    font-size: 62, 5%;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Trasandina";
    src: url(../fonts/TrasandinaRegular.otf);
}

@font-face {
    font-family: "Trasandina bold";
    src: url(../fonts/TrasandinaBold.otf);
}


/* Baja a TABLET */

@media screen and (max-width: 768px) {

    .seguinos {
        text-align: center;
        padding-left: 0;
    }

    .subTicont {
        text-align: center;
        padding-left: 0;
    }

    .introTienda {
        font-size: 1.5rem;
    }

    .section01-flex {
        flex-flow: row wrap;
    }

    .section02-flex {
        flex-flow: row-reverse wrap;
    }

    .section03-flex {
        flex-flow: row wrap;
    }

    .article01-flex {
        h3 {
            p {
                display: flex;
                flex-flow: row wrap;
            }
        }
    }

    .article02-flex {
        h3 {
            p {
                display: flex;
                flex-flow: row wrap;
            }
        }
    }

    .fotoRibeira {
        width: 20rem;
    }

    .fotoGuarani {
        width: 20rem;
    }

    .fotoAbuelos {
        width: 20rem;
    }

    .subsBio {
        font-size: 1.3rem;
        padding-bottom: 0.3rem;
    }

    .logoAbuela-flex {
        img {
            width: 23rem;
            padding-top: 2.3rem;
        }
    }

    .letraChica {
        font-size: .6rem;
        text-align: center;
        padding-bottom: 1rem;
        padding-right: 0rem;
    }

    .subTicont {
        text-align: center;
        padding-top: 3rem;
        padding-left: 0rem;
        font-size: 0.9rem;
    }

    .parrafoDireccion {
        font-size: 0.7rem;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
    }
}


/* Baja a CELU */

@media screen and (max-width: 380px) {

    .bodyGrid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "menu"
            "logo"
            "poema"
            "pie";
    }

    .textoMenu {
        ul {
            li {
                display: block;
                padding-top: 0.9rem;
            }
        }
    }

    .logoAbuela-flex {
        img {
            width: 14rem;
            padding-top: 1.5rem;
            padding-bottom: 0.7rem;
        }
    }

    header {
        height: 10rem;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .letraChica {
        text-align: center;
    }

    .introTienda {
        font-size: 1.3rem;
        color: rgb(255, 255, 255);
    }

    .letraChica {
        font-size: .6rem;
        text-align: center;
        padding-bottom: 1rem;
        padding-right: 0rem;
    }

    .subTicont {
        text-align: center;
        padding-top: 3rem;
        font-size: 0.9rem;
    }

    .parrafoDireccion {
        font-size: 0.7rem;
    }

    .fotoRibeira {
        width: 16rem;
        align-self: center;
    }

    .fotoGuarani {
        width: 16rem;
        align-self: center;
    }

    .fotoAbuelos {
        width: 16rem;
        align-self: center;
    }

    .logoAlpie {
        width: 8rem;
        margin-left: auto;
        margin-right: auto;
    }

    textarea {
        width: 80%;
        height: 10rem;
    }

    .recetaFlex {
        flex-flow: row wrap;
    }

    .parrafoDireccion {
        font-size: 0.8rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.4rem;
    }

    .flexChico {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .logoFace {
        padding-left: 0rem;
    }

    .logos-flex {
        flex-flow: column wrap;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0rem;
    }

    .tituloIndex {
        font-size: 2.5rem;
    }

    .tituloIndex2 {
        font-size: 1.8rem;
    }
   

}